# Core functionality - changes here should be rare!
/src/app.py                   @svsaran1
/src/backend/database.py      @svsaran1
/src/backend/routers/auth.py  @svsaran1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @svsaran1
